datasets
GPUtil
imageio
imgaug
matplotlib
numpy
pandas
python_Levenshtein
rapidfuzz
regex
seaborn
tokenizers
tqdm
transformers==4.45.2
numpy==1.26.4
Pillow
plotly
streamlit
torch==2.4.1
torchmetrics==1.7.0
kraken==5.3.0
